# --------------------------------------------------
# Python
# --------------------------------------------------

__pycache__/
*.py[cod]

# --------------------------------------------------
# Local databases
# --------------------------------------------------

*.db
*.sqlite
*.sqlite3

# --------------------------------------------------
# Generated exports
# --------------------------------------------------

*.xlsx
*.csv

# --------------------------------------------------
# macOS
# --------------------------------------------------

.DS_Store

# --------------------------------------------------
# IDEs
# --------------------------------------------------

.vscode/
.idea/